/*我的投诉*/
*{margin: 0;padding: 0;}
body{width: 100%;background-color: #f2f3f3;padding-bottom: 3rem;}
.head{width: 100%;background-color: #ffffff;height: 3rem;padding-top:1rem;}
.title{text-align: center;font-weight: bold;font-size: 1.5rem;}
.complainList{background-color: #ffffff;width: 100%;height: auto;font-size: 1.5rem;border-bottom: 1px solid #b5b4b4;}
.complainList li{border-bottom: 1px solid #cecccc;padding-top: 1rem;}
.contain{margin-left: .5rem;margin-bottom: 1rem;max-width: 14rem;width: 14rem;position: relative;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.handleStatus{float: right;margin: -2.6rem 1rem 0 0;color: red}
.handleStatus span{margin-left: .8rem;color: #cecccc;}