/*我的物业*/
*{margin: 0;padding: 0;}
body{width: 100%;background-color: #f2f3f3;padding-bottom: 3rem;}
.head{width: 100%;background-color: #ffffff;height: 3rem;padding-top:1rem;}
.title{text-align: center;font-weight: bold;font-size: 1.5rem;}
/*.long{width: 100%;background-color: #e2e1e1;color: #e2e1e1;height: 1px;}*/
.title2{font-size: 1rem;margin:1rem 0 .5rem 2rem;color: #6d6b6b;}
.propertyList{background-color: #ffffff;width: 100%;height: auto;font-size:1.5rem;border-top: 1px solid #b5b4b4;border-bottom: 1px solid #b5b4b4;}
.propertyList li{padding: 1rem;position: relative;height: 4.2rem;list-style: none;border-top: 1px solid #b5b4b4;}
.propertyList li:first-child{border-top: 0 solid #ffffff;}
.status{font-size: 1.2rem;margin-top: 1.5rem;color: #4caf50;}
.status2{font-size: 1.2rem;margin-top: 1.5rem;color: #ff9800;}
.identify{float: right;font-size: 1.2rem;margin: -1.4rem 2rem 0 0;}
