.title2{font-size: 1.5rem;margin: .8rem 0 .5rem 1rem;color: #6d6b6b;}
.complainContent{font-size: 1.5rem;background-color: #e2e1e0;border-color: #e2e1e0;box-sizing:border-box;}
.state{font-size: 1.5rem;color: #6d6b6b;width: 100%;border-top: 1px solid #d6d4d4;border-bottom: 1px solid #d6d4d4;height: 3.5rem;border-left: 1rem solid #f2f3f3;box-sizing:border-box;padding-top: .8rem;}
.result{margin-left: 5rem;color: red;}