.applyBtn{background-color: #00bcd4;margin-top: 2rem;}
input{width: 100%;height: 3rem;font-size: 1.2rem;border-width: 0;box-sizing: border-box;padding-left: 1rem;}
.oldPass{margin-bottom: 2rem;margin-top: 1rem;}
.newPass{border-bottom: 1px solid #dad7d7;}